<form [formGroup]="reminderGroup">
  <input type="text" formControlName="description" placeholder="description">
  <input type="number" formControlName="dayOfMonth" placeholder="day of month">
  <input type="number" formControlName="notifyDaysBefore" placeholder="notify days before">
  <button [disabled]="reminderGroup.invalid" (click)="saveReminder()">save</button>
</form>

<ul *ngIf="reminders$ | async as reminders">
  <li *ngFor="let reminder of reminders.value">
    <p>description: {{ reminder.description }}</p>
    <p>dayOfMonth: {{ reminder.dayOfMonth }}</p>
    <p>notifyDaysBefore: {{ reminder.notifyDaysBefore }}</p>
    <a [routerLink]="['reminder', reminder.reminderId]">edit</a>
    <button (click)="deleteReminder(reminder.reminderId)">delete</button>
  </li>
</ul>