.thumbnail {
  max-width: 100px;
  max-height: 56.25px;
}

.thumbnail.placeholder {
  background-color: #ddd;
  color: #999;
}

.thumbnail-container {
  width: 100px;
  height: 56.25px;
}

.thumbnail-container {
  aspect-ratio: 16/9;
  background-color: black;
}