.thumbnail {
  max-width: 160px;
  max-height: 90px;
}

.thumbnail.placeholder {
  background-color: #ddd;
  color: #999;
}

.thumbnail-container {
  width: 160px;
}

.thumbnail-container {
  aspect-ratio: 16/9;
  background-color: black;
}